@use "../../scss/" as *;

.movie-listing {
    margin-top: 3rem;
    margin-bottom: 5rem;
    .swiper-slide {
        height: 25rem;
        cursor: pointer;
        
        .movie-card {
            width: 100%;
            height: 80%;
            position: relative;
            
            &__image {
                border-radius: 1rem;
                width: 100%;
                height: 100%;
                overflow: hidden;
                margin-bottom: 2rem;
                .image {
                    width: 100%;
                    height: 100%;
    
                    &:hover {
                        transform: scale(1.1);
                        transition: transform 0.3s ease-in-out;
                    }
                }

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    font-size: 3rem;
                    transform: translate(-50%, -50%);
                    display: none;
                    color: $primary-color;
                }

                &:hover {
                    .icon {
                        display: block;
                    }
                }
            }

            &__content {
                .title {
                    color: $white-color;
                    font-size: 1.7rem;
                    font-weight: 500;

                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    line-clamp: 2;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
