@use "../../scss/" as *;

.header {
    width: 100%;
    height: 8rem;
    position: fixed;

    top: 0;
    left: 0;
    z-index: 999;
    padding: 1.5rem 0;

    &__wrapper {
        @include flex(space-between, center);

        .logo {
            font-size: 2.5rem;
            font-weight: 600;
            @include flex(center, center);

            img {
                margin-right: 1rem;
                width: 50px;
            }

            a {
                color: $white-color;
            }
        }

        @include w720 {
            @include flex(space-between, center);
        }
    }

    &.shrink {
        height: 8rem;
        background-color: $black-color;
        transition: all 0.2s linear;
    }

    &__navbar {
        @include flex(center, center);
        gap: 3rem;

        .nav__item {
            color: $white-color;
            position: relative;
            a {
                font-size: 2.5rem;
                font-weight: 600;
                color: $white-color;
                transition: color 0.2s linear;
                &:hover {
                    color: $primary-color;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;

                width: 0;
                height: 0.2rem;
                background-color: $primary-color;
                transition: width 0.2s linear;
            }

            &.active::after,
            &:hover::after {
                width: 100%;
            }
        }

        @include w720 {
            width: 100%;
            @include flex(space-around, space-between);
            position: fixed;
            bottom: 0;

            left: 50%;
            transform: translate(-50%);
            padding: 2rem 3rem 2rem;
            background-color: $black-color;
        }
    }

    .account {
        @include flex(center, center);
        gap: 2rem;

        &__logo {
            font-size: 2.5rem;
            cursor: pointer;
        }

        &__text {
            font-size: 2.5rem;
            font-weight: 600;
            cursor: pointer;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 100%;

                left: 0;
                width: 0;
                height: 0.2rem;

                background-color: $primary-color;
                transition: width 0.2s linear;
            }

            @include w720 {
                display: none;
            }
        }

        &:hover {
            .account__text::after {
                width: 100%;
            }

            .account__logo,
            .account__text {
                color: $primary-color;
            }
        }
    }
}
